[Unit]
Description=OScam
After=network.target
Requires=network.target

[Service]
Type=forking
PIDFile=/run/oscam.pid
ExecStartPre=/usr/bin/local_cam.sh
ExecStart=/usr/bin/oscam -b -B /run/oscam.pid
ExecStartPost=/usr/bin/pzapit -rz
ExecStop=/usr/bin/rm /run/oscam.pid
TimeoutStopSec=1
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
