[Unit]
Description=Weston Wayland Compositor
RequiresMountsFor=/media

[Service]
User=root
EnvironmentFile=-/etc/default/weston
ExecStart=/usr/bin/weston-start -v -e -- $OPTARGS
ExecStopPost=/bin/sh -c "/usr/bin/clear > /dev/tty0"

[Install]
WantedBy=multi-user.target
