[Unit]
Description=proftpd Daemon

[Service]
Type=forking
ExecStart=-/usr/sbin/proftpd -c /etc/proftpd.conf
StandardError=syslog

[Install]
WantedBy=multi-user.target

