[Unit]
Description=create etc git remote for etckeeper
After=neutrino.service
Requires=systemd-modules-load.service 

[Service]
Type=simple
ExecStart=/bin/sh /etc/etckeeper/create_etc.sh

[Install]
WantedBy=basic.target
