[Unit]
Description=write back etckeeper remote
Requires=create-etc.service
After=firstboot.service

[Service]
Type=oneshot
ExecStart=/bin/sh /etc/etckeeper/update_etc.sh
 
[Install]
WantedBy=basic.target
