[Unit]
Description=Neutrino HD
Requires=networking.service update-etc.service
After=firstboot.service

[Service]
Type=simple
ExecStart=/usr/bin/neutrino.sh

[Install]
WantedBy=multi-user.target
