[Unit]
Description=CamInfo
After=network.target
Requires=network.target

[Service]
Type=simple
PIDFile=/tmp/caminfo.pid
ExecStart=/bin/sh -c /etc/neutrino/plugins/caminfo.sh
ExecStop=/usr/bin/rm /tmp/caminfo.pid
TimeoutStopSec=1
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
