[Unit]
Description=ciplushelper

[Service]
Type=forking
ExecStart=-/usr/bin/ciplushelper
ExecStop=-/usr/bin/killall -9 ciplushelper

[Install]
WantedBy=multi-user.target
