[Unit]
Description=start initscript upon first boot
Requires=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/firstboot.sh

[Install]
WantedBy=basic.target
