[Unit]
Description=Run fstrim.service every 12 hours

[Timer]
OnBootSec=1min
OnUnitActiveSec=12h
Persistent=true

[Install]
WantedBy=multi-user.target

