[Unit]
Description=gbox
After=network.target
Requires=network.target

[Service]
Type=simple
ExecStartPre=/usr/bin/local_cam.sh
ExecStart=/usr/bin/gbox
TimeoutStopSec=1
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
