[Unit]
Description=restore partition %I

[Service]
ExecStartPre=-/bin/sh -c '/usr/bin/mount.sh add sda1 >> /dev/null'
ExecStart=/usr/bin/flash %I restore
ExecStartPost=/bin/echo -e '\033[?17;0;0c'
Type=oneshot
RemainAfterExit=no
StandardOutput=tty
TTYPath=/dev/tty1
