[Unit]
Description=QtWebflix
Requires=networking.service


[Service]
Type=simple
Environment=QTWEBENGINE_DISABLE_SANDBOX=1
Environment=QT_QPA_PLATFORM=eglfs
ExecStartPre=/bin/sh -c "/bin/systemctl stop neutrino"
ExecStartPre=/bin/sh -c "echo encoder > /proc/stb/avs/0/input"
ExecStart=/bin/sh -c "/usr/bin/qtwebflix -p https://www.ardmediathek.de/ard/"
ExecStop=/bin/sh -c "/bin/systemctl start neutrino"
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
