[Unit]
Description=eXtensible UPnP agent
After=networking.service neutrino.service
Wants=udpxy.service

[Service]
ExecStart=/bin/sh -c '/usr/bin/xupnpd > /var/log/xupnpd.log'
PIDFile=/run/xupnpd.pid
ExecStop=/bin/kill -TERM $MAINPID
TimeoutStopSec=3
Restart=always
RestartSec=2
StartLimitInterval=0

[Install]
WantedBy=multi-user.target

