[Unit]
Description=Kodi media thing
After=systemd-user-sessions.service network.target sound.target
Requires=tvheadend.service
Conflicts=neutrino.service

[Service]
User=root
Group=root
Type=simple
ExecStartPre=/bin/systemctl stop neutrino.service
ExecStartPre=/bin/sh -c "echo encoder > /proc/stb/avs/0/input"
ExecStart=/usr/bin/kodi
ExecStopPost=/bin/systemctl start neutrino.service
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target

